<!DOCTYPE html>
<html lang="en">

<head>
  <title>polls</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/polls.js"></script>
</head>

<body>
  <form class="" action="/poll/<%= adminID %>" method="POST">
    <h3><%= question_title %></h3> <!-- the number next to option will have to be changed depending on which one it is-->
    <div class="individual-question">
      <h4></h4>
      <input name="option1" class="option"> <!-- name will also have to be changed -->
      <h4>Description (optional)</h4>
      <input name="option1_description" class="option_description"> <!-- don't forget to check if description has been filled or is empty-->
    </div>

    <!-- These buttons are to add or remove an option -->
    <div id="button-container">
      <buttion id="minus-btn" class="btn" type="button">-</buttion>
      <buttion id="plus-btn" class="btn" type="button">+</buttion>
    </div>
  </section>

  <div id="buttons">
    <button id="reset-btn" class="btn" type="reset">Reset</button>
    <button id="submit-btn" class="btn" type="submit">Submit</button>
  </div>
  </form>


</body>

</html>
