<!DOCTYPE html>
<html lang="en">

<head>
  <title>Statistics View</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- APP CSS-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css"/>
  <link rel="stylesheet" href="/styles/nav.css"/>
  <link rel="stylesheet" href="/styles/form.css"/>
  <link rel="stylesheet" href="/styles/stats.css"/>


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- nav bar here -->
<% include ./partials/_header %>
<body>
  <main>
    <body>
      <form action="/admin/:id" method="get">
      <h1>Result</h1>

      <h3></h3>
    </form>
  </main>

</body>

</html>
