// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0081bd;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

#below-header {
  align-self: center;
}

main {
  margin-top: 10em;
  width: 80%;
  min-height: 750px;
  padding: 2em;
  align-self: center;
  background-color: beige;
}

#button-container {
  width: 100%;
  align-self: center;

  display: flex;
  justify-content: space-around;
}
