#navBar {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #022187;
  color: #FFFFFF;
  padding: 3em;
  font-family: Georgia, serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
