#header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#creator-name {
  place-self: start end;
}

#judge-line {
  display: flex;
  justify-content: center;
}

#option_radio {
  width: 100%;
  display: flex;
}

ul {
  list-style: none;
}

#option_list {
  font-size: x-large;
  height: 10em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#options{
  width: 80%;

  display: flex;
  justify-content: space-evenly;
}

#radio-btn {
  display: flex;
  justify-content: space-evenly;
}

.column {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#submit-btn {
  place-self: end end;
}
